<section class="align-middle justify-content-center m-sm-5 m-2">

	<ngb-alert (closed)="categoryNotFound = false" *ngIf="categoryNotFound" [dismissible]="true"
	           class="alert alert-success alert-dismissible fade show"
	           role="alert">
		<strong>Category not found.</strong>
	</ngb-alert>
	<ngb-alert (closed)="uniqName = false" *ngIf="uniqName" [dismissible]="true"
	           class="alert alert-success alert-dismissible fade show"
	           role="alert">
		Categories must have <strong>unique</strong> names
	</ngb-alert>
	<ngb-alert (closed)="deleteSuccess = false" *ngIf="deleteSuccess" [dismissible]="true"
	           class="alert alert-success alert-dismissible fade show"
	           role="alert">
		<strong>Category successfuly deleted.</strong>
	</ngb-alert>

	<div class="col-md-8 p-lg-4 mx-lg-auto my-lg-4 bg-white border-4 border p-4" *ngIf="role == 'admin'">
		<form [formGroup]="addCategoryFrom" (ngSubmit)="onSubmit()">

			<div class="form-outline mb-4">
				<span class="form-label">Name</span>
				<input required class="form-control form-control-lg" type="text" id="name" formControlName="name"/>
			</div>
			<h6 *ngIf="name && name.touched && name.errors?.['required']"
			    class="validation-message" style="color: red">
				Name is required
			</h6>
			<h6 *ngIf="(name && name.touched) && (name.errors?.['minlength'] || name.errors?.['maxlength'])"
			    class="validation-message small form-text w-100" style="color: red">The name must be 4-20
				characters.
			</h6>

			<input *ngIf="addCategoryFrom.valid" type="submit"
			       class="mt-3 btn btn-primary btn-lg btn-block w-100" value="Add category">
			<input *ngIf="!addCategoryFrom.valid" type="submit"
			       class="mt-3 disabled btn btn-light btn-lg btn-block w-100" value="Add category">
		</form>
	</div>

	<div class="mat-elevation-z5">
		<table mat-table [dataSource]="dataSource" matSort class="table table-striped">
			<caption>
				Categories table
			</caption>

			<ng-container matColumnDef="categoryId">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Category ID</th>
				<td (click)="filter(row.name)" mat-cell
				    *matCellDef="let row"> {{row.categoryId}} </td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
				<td (click)="filter(row.name)" mat-cell *matCellDef="let row"> {{row.name}} </td>
			</ng-container>

			<ng-container matColumnDef="productCount">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Products count</th>
				<td (click)="filter(row.name)" mat-cell
				    *matCellDef="let row"> {{row.productCount}} </td>
			</ng-container>

			<ng-container *ngIf="role == 'admin'" matColumnDef="modify">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Modify</th>
				<td mat-cell *matCellDef="let row">
					<button mat-button type="button" class="btn btn-warning" (click)="modify(row.categoryId)">Modify
					</button>
				</td>
			</ng-container>

			<ng-container *ngIf="role == 'admin'" matColumnDef="delete">
				<th mat-header-cell *matHeaderCellDef="let row" mat-sort-header> Delete</th>
				<td mat-cell *matCellDef="let row">
					<button mat-button type="button" class="btn btn-danger" (click)="deleteCategory(row.categoryId)">
						Delete
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		</table>
		<mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
	</div>

</section>